.container_botao .botao{
    display: none;
    position: absolute;
    top: 10px;
    left: 1%;
    width: 50px;
    height: 50px;
    z-index: 5;
    cursor: pointer;
    border: none;
    background: none;
    
}

@media (max-width:750px) {
    .container_botao .botao{
        display: block;
        position: absolute;
        top: 10px;
        left: 1%;
        width: 50px;
        height: 50px;
        z-index: 5;
        cursor: pointer;
        border: none;
        background: none;
        
    }
}