.menu_hamburguer{
    display: none;
}
.container_topo{
    display: flex;
    justify-content: space-around;
    width: auto;
    height: auto;
    text-align: center;
    align-items: center;
    background-color: #F9DB79;
    
}

.menu_navegacao{
    color: black;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.topo_imagem{
    width: 100px;
    height: 100px;
    
}

@media (max-width:1280px){
    .container_topo{
        display: flex;
        justify-content: space-between;
        width: auto;
        height: auto;
        text-align: center;
        align-items: center;
        background-color: #F9DB79;
        padding: 15px;
        
    }
}

@media (max-width:768px) {
    .container_topo{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
        text-align: center;
        align-items: center;
        background-color: #F9DB79;
        padding: 15px;
        border-bottom:1px solid black ;
        
    }

    .menu_navegacao{
        display: none;
 
    }
}

@media (max-width:500px) {
    .container_topo{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
        text-align: center;
        align-items: center;
        background-color: #F9DB79;
        padding: 15px;
        margin: auto;
        
    }

 
}